entregables/Actividad4.1/hotel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="hotel">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="foto" type="xs:string"/>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="descripcion" type="xs:string"/>
                <xs:element name="categoria" type="xs:string"/>
                <xs:element name="precio" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>